#landingMain {
    margin-top: 5em;
    text-align: center;
}

#landingH1 {
    font-family: 'Berkshire Swash', cursive;
    font-size: 5em;
}

#landingH2 {
    font-size: 5em;
}

#landingH3 {
    font-size: 2em;
    margin-top: 2em;
}

.login {
    margin: 3em auto;
    width: 10em;
}


.login > svg{
    margin-top: 0.2em;
}

.trademark {
    font-size: 0.4em;
    margin-top: 6em;
}