/*summry of ranking page*/
.Tipster{
    max-width: 400px;
    margin: auto;
}

.BestNext{
    background: #FFC82C;
    max-width: 400px;
    margin: auto;
}

.BestNext > h3{
    font-size: 1.5em;
    margin: auto;
}

.UserBar{
    background: #FFF;
    color: #47525E;
}

.UserBar > img{
    max-width: 2em;
    height: auto;
    margin-left: 0.4em;
}

.UserBar > a > h2{
    font-size: 1em;
    padding-top: 0.3em;
    color: #47525E;
}

.rankingSpace{
    margin: 1em;
}